:root {
    --font-size-sm: 1.4rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 2.7rem;

    --font-weight-reg: 400;
    --font-weight-bold: 700;

    --grey: #1F1F1F;
}

html {
    font-size: 62.5%;
}

body {
    padding: 30px;
}

button {
    all: unset;
    cursor: pointer;
}
